<%= render 'shared/solid-navbar' %>
<div class="dashboard">
  <h1 id="dashboard-title"> <strong>Followed events</strong></h1>
  <% if @user.favourites.empty? %>
    <h5 id="empty-dashboard"><strong>Add favourites to follow the upcoming events</strong></h5>
  <% else %>
    <% @user.favourites.each do |favourite| %>
    <div class="favourite-dashboard" id="favourite_<%= favourite.id %>">
      <div class="dashboard-photo">
        <div class="dashaboard-img">
          <%= image_tag favourite.event.photo, alt: "alttext" %>
        </div>
      </div>
      <div class="dashboard-text">
        <h5 id="favourite-name" class="inside-cards-dashboard"> <strong><%= favourite.event.name %></strong></h5>
        <p id ="favourite-date" class="inside-cards-dashboard"><strong><%= favourite.event.location %></strong></p>
        <p id="favourite-start-date" class="inside-cards-dashboard"><%= favourite.event.start_date.strftime("%A, %e, %B") %></p>
        <% if favourite.event.price == nil%>
          <% else %>
          <p id= "favourite-price" class="inside-cards-dashboard"><%= favourite.event.price %>€</p>
          <% end %>
    </div>
    <div class="dasboard-heart-link">
      <%= link_to event_favourite_path(favourite.event, favourite), method: :delete, remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
      <a href="<%= favourite.event.url %>" target="_blank"><i class="fas fa-external-link-alt"></i></a>
    </div>
  </div>
    <% end %>
  <% end %>
</div>
