<%= render 'shared/solid-navbar' %>
<div class="dashboard" style="height:89vh;">
 <% if @user.favourites.empty? %>
      <h1 id="dashboard-title" style="padding: 15px;"> <strong>Followed events</strong></h1>
      <h5 id="empty-dashboard"><strong>Add favourites to follow the upcoming events</strong></h5>
    <% else %>
  <div class="without-map" id="scrolling-dashboard">
    <h1 id="dashboard-title" style="padding: 15px;"> <strong>Followed events</strong></h1>
    <div class="scroller" style="overflow-y:scroll; height:70vh;">

      <% @user.favourites.each do |favourite| %>
        <div class="favourite-dashboard" id="favourite_<%= favourite.id %>" lat="<%=favourite.event.latitude %>" lng="<%=favourite.event.longitude%>">
          <div class="dashboard-photo">
            <div class="dashaboard-img">
              <a href="<%= favourite.event.url %>" target="_blank"><%= image_tag favourite.event.photo, alt: "alttext" %></a>
            </div>
          </div>
          <div class="dashboard-text">
            <h5 id="favourite-name" class="inside-cards-dashboard"><strong><%=favourite.event.name %></strong></h5>
            <p id ="favourite-date" class="inside-cards-dashboard"><strong><%=favourite.event.location %></strong></p>
            <p id="favourite-start-date" class="inside-cards-dashboard"><%=favourite.event.start_date.strftime("%A, %e, %B") %></p>
            <% if favourite.event.price == nil%>
              <% else %>
              <p id= "favourite-price" class="inside-cards-dashboard"><%=favourite.event.price %>€</p>
              <% end %>
        </div>
        <div class="dasboard-heart-link">
          <%= link_to event_favourite_path(favourite.event, favourite), method: :delete, remote: true do %>
            <i class="far fa-heart"></i>
          <% end %>
          <a href="<%= favourite.event.url %>" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
      </div>
        <% end %>
      <% end %>

    </div>

  </div>
  <div id="map" data-markers="<%= @markers.to_json %>" style="height: 65vh; width: 600px; margin-top: 120px; margin-left: 50px; margin-right: 30px"></div>
<!--     <div id="map-dashboard">
        <meta charset='utf-8' />
    </div> -->
<!--   </div>
 --></div>


