<div class="center-container">
  <%= simple_form_for :index, url: events_path, method: :get do |f| %>
    <div class="mapbar">
      <div class="search-form-control form-group loader col-3" style="
    padding-left: 0px;">
      <%= text_field_tag :location, params[:location].capitalize, class: "form-control string required" %>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Start date
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="date" class="dropdown-item" name="start_date">
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          End date
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="date" class="dropdown-item" name="end_date">
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
          Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @categories.each do |category| %>
            <div class="dropdown-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id='<%=category[:id]%>' name="categories" value='<%=category[:id]%>'>
                <label class="custom-control-label" for='<%=category[:id]%>'><%=category[:name]%></label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="button">
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
  <% end %>
    <%= simple_form_for :index, url: events_path, method: :get do |f| %>
      <div class="button">
        <button name="location" type="submit" class="btn btn-warning" value="<%=params[:location]%>"> Reset filters
        </button>
      </div>
     <%end%>
    </div>
</div>
