<div class="loader" style="display: none">
  <%= render "shared/loader" %>
</div>

<div class="main-container">
<div class="mapbar-div">
<%= render "shared/mapbar" %>
</div>
<div class="center-container d-flex" style="height:89vh;">
  <button id="hide_cards">-</button>
  <div class="col-3" id="cards" style="padding-left: 0px; padding-right: 0px;">
    <div id="scrollingTable" style="overflow-y:scroll">
      <% @events.each do |event| %>
        <a href="<%=event.url%>" class="href" target="_blank">
          <div class="flip-card" id="flip-card>">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="card-category" style="background-image: url(<%=event.photo%>)" lat="<%=event.latitude %>" data-lat="<%=event.latitude %>"  data-lng="<%=event.longitude %>">
                </div>
               </div>
              <div class="flip-card-back">
                <ul style="list-style-type:none; padding-top: 10px;">
                  <p><strong><%= event.name %></strong></p>
                  <% if event.start_date != nil && event.end_date != nil %>
                    <% if event.start_date != event.end_date %>
                      <p>From <%= event.start_date.strftime("%A, %b %d") %> to <%= event.end_date.strftime("%A, %b %d") %></p>
                    <% else %>
                      <p> <%= event.start_date.strftime("%A, %b %d") %></p>
                    <% end %>
                  <% end %>
                  <p><%= event.location %></p>
                  <%= simple_form_for @event, remote: true do |f| %>
                    <%= f.hidden_field :name, value: event.name %>
                    <%#= f.hidden_field :location, value: event.location %>
                    <%= f.hidden_field :start_date, value: event.start_date %>
                    <%= f.hidden_field :end_date, value: event.end_date %>
                    <%#= f.hidden_field :start_time, value: event.start_time %>
                    <%#= f.hidden_field :end_time, value: event.end_time %>
                    <%= f.hidden_field :price, value: event.price %>
                    <%= f.hidden_field :latitude, value: event.latitude %>
                    <%= f.hidden_field :longitude, value: event.longitude %>
                    <%= f.hidden_field :url, value: event.url %>
                    <%= f.hidden_field :photo, value: event.photo %>
                    <%= f.hidden_field :category, value: event.category %>
                    <%= f.hidden_field :description, value: event.description %>
                    <% event_name = event.name.gsub(/\s+/, '') %>
                    <div id="link">
                      <% if current_user.favourites.find_by(event_name: event.name) %>
                        <%= link_to event_favourite_path(Event.find_by(name: event.name), current_user.favourites.find_by(event_name: event.name)), method: :delete, id: Event.find_by(name: event.name).name.gsub(/\s+/, '').gsub(/\W+/, ''), class: 'btn-red-index', remote: true do %>
                          <i class="fas fa-heart" style="font-size:20px; background: rgba(0,0,0,0);"></i>
                        <% end %>
                      <% else %>
                        <button type="submit" id="<%= event.name.gsub(/\s+/, '').gsub(/\W+/, '') %>" style="background: rgba(0,0,0,0); border:none;">
                          <i class="far fa-heart" style="color:red; font-size:20px; background: rgba(0,0,0,0);"></i>
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <button id="show_cards" style="display:none;">+</button>
  <div class="map-button" style="height: 100%; width: 100%; position:relative;">
    <div id="map" data-markers="<%= @markers.to_json %>" style="height: 100%; width: 100%"></div>
    <div class="buttons" style="position: absolute; left: 10px; top: 10px;">
      <button id="toggle_markers_show" style="display:none; direction: ltr; overflow: hidden; text-align: center; height: 40px; display: table-cell; vertical-align: middle; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 0px 17px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 36px;">Toggle Markers</button>
          <button id="toggle_markers_hide" style="display:none; direction: ltr; overflow: hidden; text-align: center; height: 40px; display: table-cell; vertical-align: middle; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 0px 17px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 36px;">Toggle Markers</button>
    </div>
  </div>
<!--     <meta charset='utf-8' />
    <title>Create a heatmap layer</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' /> -->
</div>
</div>

<script>
  const search = document.querySelector("#home-search")
  const loader = document.querySelector(".loader")
  const content = document.querySelector(".main-container")

  search.addEventListener("click", () => {
    content.style.display = "none"
    loader.style.display = "block"
  })
</script>
