<%= render "shared/mapbar" %>
<div class="center-container d-flex" style="height:100vh;">
  <button id="minimise">+</button>
  <div class="col-3" style="padding-left: 0px; padding-right: 9px;">
    <div id="scrollingTable" style="overflow-y:scroll">
      <% @events.each do |event| %>
        <a href="<%=event.url%>" class="href" target="_blank">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="card-category" style="background-image: url(<%=event.photo%>)">
                </div>
               </div>
              <div class="flip-card-back">
                <ul style="list-style-type:none; padding-top: 10px;">
                  <p><strong><%= event.name %></strong></p>
                  <p><%= event.start_date %> - <%= event.end_date %></p>
                  <p><%= event.location %></p>
                  <%= simple_form_for @event, remote: true do |f| %>
                    <%= f.hidden_field :name, value: event.name %>
                    <%= f.hidden_field :location, value: event.location %>
                    <%= f.hidden_field :start_date, value: event.start_date %>
                    <%= f.hidden_field :end_date, value: event.end_date %>
                    <%= f.hidden_field :start_time, value: event.start_time %>
                    <%= f.hidden_field :end_time, value: event.end_time %>
                    <%= f.hidden_field :price, value: event.price %>
                    <%= f.hidden_field :url, value: event.url %>
                    <%= f.hidden_field :photo, value: event.photo %>
                    <%= f.hidden_field :category, value: event.category %>
                    <%= f.hidden_field :description, value: event.description %>
                    <% event_name = event.name.gsub(/\s+/, '') %>
                    <% if current_user.favourites.find_by(event_name: event.name) %>
                      <%= link_to event_favourite_path(Event.find_by(name: event.name), current_user.favourites.find_by(event_name: event.name)), method: :delete, remote: true do %>
                        <i class="fas fa-heart"></i>
                      <% end %>
                    <% else %>
                      <button type="submit" id="<%= event_name %>">

                        <i class="far fa-heart"></i>
                      </button>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>" style="height: 100%; width: 100%"></div>
<!--     <meta charset='utf-8' />
    <title>Create a heatmap layer</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' /> -->
</div>

























